.mail::before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	width: 11px;
	height: 9px;
	background: url(../img/icon-mail-1.png) center no-repeat;
}
.phone::before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	width: 7px;
	height: 13px;
	background: url(../img/icon-mobile.png) center 1px no-repeat;
}
.mail, .phone {
	color: #506a85;
	font-family: "Source Sans Pro";
	font-size: 12px;
	font-weight: 400;
}
.mail {
	margin-right: 28px;
}
header {
	box-shadow: 0 1px 0 #e6e9ed;
	background-color: #f5f7fa;
	padding-top: 15px;
	padding-bottom: 11px;
	min-height: 40px;
}
.social-menu {
	padding-left: 0;
}
.social-menu a{
	padding: 0 8px;
}
.main-menu {
	margin: 36px 0; 
	background: #fff;
	border: none;
}
.brand-logo {
	padding: 0;
}
.navbar-menu {
	margin: 9px 0 0 20px;

}
.navbar-menu a{
	padding: 0 21px !important;
	color: #506a85 !important;
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.icon-search {
	margin: 45px 0 0 0;
}
.icon-search a{
	padding: 0;
	margin-left: 35px;
}
.my-jumbotron {
	background: url(../img/jumbotron.png) center no-repeat;
	min-height: 880px;
}
.my-jumbotron-info {
	max-width: 908px !important;
	margin-top: 252px;
	text-align: center;
	color: #ffffff;
	font-family: Lato;
	font-size: 78px;
	font-weight: 900;
	line-height: 88px;
	text-transform: uppercase;
}
.my-jumbotron-info h1 {
	margin: 0;
	padding: 0;
}
.my-jumbotron-info p{
	margin-top: 40px;
	color: #a3b1bf;
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-weight: 400;
	line-height: 33px;
	text-transform: none;
}

.my-jumbotron-button{
	margin-top: 67px;
	height: 65px;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	background-color: #00bc9c;
	border: none;
	text-decoration: none;
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 25px 70px;
}
